<footer class="site-footer">

  <div class="wrap">
    <div class="footer-col-2 column">

      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class="fa fa-rss"></i>
      </a>

      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      {% endif %}

      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      {% endif %}

    </div>
  </div>

</footer>
